*{
    box-sizing: border-box;
    /* font-family: 'Archivo Black', sans-serif; */
}

.wrapper1{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.loginForm{
    height: 250px;
    width: 300px;
    display: flex;
    flex-direction:column;
    border: 1px solid gainsboro;
    padding: 20px;
    /* background: white; */
    justify-content: space-around;
    align-content: center;
    color: black;
    margin:auto;
    margin-top: 200px;
    border-radius: 20px;
    background: white;
}

label{
    color:black;
}

input{
    border: 1px solid black;
    color: black;
}



