*{
    box-sizing: border-box;
    /* font-family: 'Archivo Black', sans-serif; */
}

.logoname{
    color: azure;
    font-family: 'Cedarville Cursive', cursive;
    font-size:xx-large;
    font-weight: bolder;   
    color: gainsboro;    
    
}
