*{
    box-sizing: border-box;
    font-family: 'Archivo Black', sans-serif;
}
/* #root{
    background-image: url('../../../public/img/homepage.avif');
} */
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper>h2{
    color: azure;
    font-family: 'Cedarville Cursive', cursive;
    font-size:xx-large;
    font-weight: bolder;   
    color: gainsboro;    
    /* -webkit-text-stroke: 1px rgb(0, 140, 255);
	text-shadow: -1px 1px 2px rgb(0, 140, 255),
				  1px 1px 2px rgb(0, 140, 255),
				  1px -1px 0 rgb(0, 140, 255),
				  -1px -1px 0 rgb(0, 140, 255); */
}
.border{
    width: 250px;
    border-radius: 15px;
    height: 200px;
    margin-top: 200px;
    flex-direction: column;
    display: flex;
    align-items: center;
    flex-flow: wrap column;
    gap: 40px;
    color: black;
}


.border>div{
    display: flex;
    flex-flow: wrap row;
    gap:20px
}

.rounded{
    text-align: center;
}

