*{
    box-sizing: border-box;
}

.feedPost{
    height: 285px;
    width: 200px;
    /* border: 1px solid gray; */
    border-radius: 10px;
}

.feedPost>img{
    border-radius: 10px;
    /* border-top-right-radius: 10px; */
    /* border-bottom: 1px solid gray; */
    height: 250px;
    width: 100%;
}
.main{
    /* border: 2px red solid; */
}
.postheading>h3{
    /* border: 2px red solid; */
    border-bottom: 4px solid gainsboro;
}
.postlist{
    /* border: 2px green solid; */
    margin-top: -150px;
    /* min-height: 100vh; */
    
}