*{
    box-sizing: border-box;
    /* font-family: 'Archivo Black', sans-serif; */

}

.wrapper1{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}



.loginForm{
    height: 350px;
    width: 400px;
    display: flex;
    flex-direction:column;
    border: 1px solid gainsboro;
    padding: 20px;
    /* background: white; */
    justify-content: space-around;
    align-content: center;
    color: black;
    margin:auto;
    margin-top: 150px;
    border-radius: 20px;
    background: white;
}
.signupbtn{
    width: 50%;
    margin: auto;
}

label{
    color:black;
}

input{
    border: 1px solid black;
    color: black;
}

a{
    text-decoration: none;
    color:white;
}

