*{
    box-sizing: border-box;
}

.profileSec{
    color: black;
}
.UserProfile{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding:30px 0px;
        background-image:linear-gradient(#D0F0C0,white);
        /*  vertical  horizontal radius spread*/
        /* box-shadow: 20px 0px 50px; */

}

.profileSec>img{
    border: 1.8px solid black;
    height: 150px;
    width: 150px;
    border-radius: 80px;
}
.profileSec>h3{
    padding: 30px 0px;
}

.postForm{
    background: white;
    border-radius: 10px;
    box-shadow: 2px 2px 15px gainsboro;
}
.postForm>form{
    /* flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: center; */
    padding: 20px;
}

.chooseImgDiv,.captioDiv,.makePostSubmit{
    margin-top: 20px;
}

.makePostSubmit{
    width: 55px;
    text-align: center;
}
.postForm>form button{
    border:3px solid gray;
    width:45px;
    height: 27px;
    font-weight: bolder;
    margin-top: 10px;
}

.postForm>form button:hover{
    background: gray;
    margin-top: 7px;
    width: 48px;
    height:30px ;
    border:3px solid white;
    box-shadow:4px 4px 15px gainsboro ;
}


